*{
    box-sizing: border-box;
}

ul,li{
    list-style: none;
    margin-right: 2em;
}

#details, 
#medicalRecord
{
    border:1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px darkgray;
    width: 400px;
    padding: 1em;
    margin: 0.5em auto;


}

html {
    text-align: center;
}

#listOfMedicalItems {
    margin: 2em;
}

#updateMedicalRecord {
    margin-top: 1em;
}

input {
    margin-left: .5em;
}

#navbar {
    display: flex;
    font-size: 1.25em;
    color:  rgb(11, 9, 29);
    margin: 0 auto .5em auto;
    cursor: pointer;
    margin-top: 1em;
}

header {
    background-color:rgb(11, 11, 71);
    color: white;
    padding: 1em;
    text-align: center;
}

#petCards{
    display:flex;
}

.card {
    background-color: azure;
    margin: 2em auto;
    border: 1px solid black;
    box-shadow: 1px 1px grey;
    padding: 1em;
    text-align: center;
}

.btnAddPet {
    margin: 0 auto;
}

#createPet {
    margin-top: 2em;
}

/* #content {
    max-width: 100vw;
} */

#editMedicalItem,
#editOwner {
    margin-top: 2em;
}


#ownerInformation {
    margin: 2em;
    font-size: 1.25em;
}

.about{
    width: 50vw;
    font-size: 20px;
    margin: 0 auto;
}

.spacer{
    height: 100px;
}

footer {
    background-color: black;
    color: azure;
    font-size: 1em;
    padding: .5em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;

}

.footerText {
    display: flex;
}

#WeightForm {
    margin-top: 2em;
}
